# Astro DX12 Demo Configuration
# Set demos to true/false to enable/disable them on startup

BaseGeo = false
DebugDrawLine = false
DebugDrawRender = true
Particles = false
PhysicsChain = true
VBDChain = true
FluidSim2D = false
FluidSim3D = false
RaymarchSDF = false
