# Astro DX12 Demo Configuration
# Set demos to true/false to enable/disable them on startup

BaseGeo = false
DebugDrawLine = true
DebugDrawRender = false
Particles = false
PhysicsChain = true
FluidSim2D = false
FluidSim3D = true
RaymarchSDF = false
