# Astro DX12 Demo Configuration
# Set demos to true/false to enable/disable them on startup

BaseGeo = false
DebugDrawLine = false
DebugDrawRender = false
Particles = true
PhysicsChain = false
FluidSim2D = false
FluidSim3D = false
RaymarchSDF = true
