<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">
  <!-- For more information on MicrosoftGame.config elements,
       please refer to online GDK documentation found at https://aka.ms/GDK_MSGC
       or the MicrosoftGame.config topic in the System section of the offline GDK documentation. -->

  <Identity Name="AstroDX12"
            Publisher="CN=Publisher"
            Version="1.0.0.0"/>

  <ExecutableList>
    <Executable Name="AstroDX12.exe"
                Id="Game"
                Alias="AstroDX12.exe"/>
    <!--        TargetDeviceFamily="PC"
                IsDevOnly="false" | IsDevOnly specifies if is a Development only executable.
                OverrideDisplayName="Xbox Game Override"
                OverrideLogo="GraphicsLogoOverride.png"
                OverrideSquare44x44Logo="SmallLogoOverride.png"
                OverrideSplashScreenImage="SplashScreenOverride.png" -->
  </ExecutableList>

  <ShellVisuals DefaultDisplayName="AstroDX12"
                PublisherDisplayName="Microsoft"
                Square150x150Logo="GraphicsLogo.png"
                Square44x44Logo="SmallLogo.png"
                Description="AstroDX12"
                ForegroundText="light"
                BackgroundColor="#000040"
                SplashScreenImage="SplashScreen.png"
                StoreLogo="StoreLogo.png"/>


  <!-- <Resources> | Resources is a list of Language Locale pairs used to localize Shell Visuals.
        <Resource Language="en-us"/>
        <Resource Language="de-de"/>
        <Resource Language="es-mx"/>
    </Resources> -->

  <!-- <DesktopRegistration>
      <CustomInstallActions> | CustomInstallActions specifies a custom installer action with Administrator privileges the first time your game runs.
        <Folder>Installers</Folder>
        <InstallActionList>
          <InstallAction File="CustomInstaller.exe" Name="UniqueInstallTaskName" Arguments="/silent /example" />
        </InstallActionList>
      </CustomInstallActions>
      <DependencyList> | DependencyList determines which framework packages need to be installed before installing the title package.
        <Dependency Name="Microsoft.DirectXRuntime" MinVersion="9.29.952.0"/>
      </DependencyList>
      <ProcessorArchitecture>x64</ProcessorArchitecture> | ProcessorArchitecture specifies the processor architecture that matches your game executables.
      <ModFolder Name="Xbox Game"/> | ModFolder defines the location of end-user mods for your game files.
  </DesktopRegistration> -->

  <!-- <StoreId>000000000000</StoreId> | StoreId specifies the store identity of this title. -->

</Game>

